html, body {
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  width: 50vw;
  height: 50vh;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header input {
  width: 50px;
}

.frameCanvas {
  padding: 16px;
}