html, body {
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  width: 50vh;
  height: 50vh;
  margin: auto;
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header input {
  width: 50px;
}

.frameCanvas {
  padding: 16px;
}

.boxManager {
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid darkgray;
  margin: auto;
  padding: 16px 32px;
}

.boxRow {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 16px auto;
}

.boxRow:not(:last-child)::after {
  border-bottom: 1px solid grey;
  content: "";
  position: absolute;
  width: 100%;
  top: calc(100% + 8px);
}

.boxDelete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  padding: 4px;
}

.boxDelete:hover {
  background-color: rgba(0, 0, 0, .1);
}